{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<nav class="navbar" role="navigation" aria-label="main navigation">
					<div class="container">

						<div class="navbar-brand">
							<a class="navbar-item" href="{{site.url}}">
								<h1 class="hdr-logo" role="banner">{{site.name}}</h1>
							</a>

							<button class="button navbar-burger" data-target="mainMenu">
								<span></span>
								<span></span>
								<span></span>
							</button>
						</div>
						
						<div id="mainMenu" class="navbar-menu">
							<div class="navbar-start">
								{% include "menu.twig" with {'menu': menu.get_items} %}
							</div>
						</div>

					</div>
				</nav>
			{% endblock %}
		</header>

		<section id="content" role="main" class="section">

			<div class="container">
				{% if title %}<h1 class="title">{{title}}</h1>{% endif %}
				<div class="wrapper {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</div>

		</section>

		{% block footer %}
			<footer id="footer">

				<div class="container">
					{% include 'footer.twig' %}
				</div>
				
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
